#root{
    height: 100%;
    font-family: NovaMono;
  }
  
.ease {
  transition: all .5s ease;
}

.display-flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}

.flex-direction-column{
  flex-direction: column;
}